$background-image: dark-light-choose(
	$light_background_image,
	$dark_background_image
);
$default-background-image: dark-light-choose(
	$default-light-background,
	$default-dark-background
);

@if $no-background-image == "false" {
	@if $background-image != "default" {
		.background-container {
			background-image: url($background-image),
				linear-gradient(
					90deg,
					var(--tertiary-hover) 0%,
					var(--tertiary) 100%
				);
		}
	} @else {
		.background-container {
			background-image: url($default-background-image),
				linear-gradient(
					90deg,
					var(--tertiary-hover) 0%,
					var(--tertiary) 100%
				);
		}
	}
}

$nav-pills-hover: dark-light-choose(var(--primary), var(--secondary));

.nav-pills > li > a:hover,
.nav-pills > li button:hover {
	--d-nav-color--hover: $nav-pills-hover;
}
