@use "lib/viewport";
@import "common/foundation/variables";

// custom search banner customizations
.custom-search-banner-wrap {
	color: var(--primary);
	margin: 0 auto !important;
	max-width: unset;

	.custom-search-banner-headline,
	h1 {
		line-height: var(--line-height-small);

		@include viewport.from(lg) {
			font-size: 4em;
		}
	}

	p {
		margin-bottom: 2em;
		margin-top: 0.5em;

		@include viewport.from(lg) {
			font-size: var(--font-up-1);
		}
	}

	.btn {
		height: 100%;
	}

	.search-menu input[type="text"] {
		border: 1px solid transparent;
		border-radius: 0.25em;
		min-height: 40;

		&:focus {
			outline: 3px solid rgb(var(--primary-rgb), 0.35);
		}
	}

	.widget-link.show-help {
		background-color: rgb(var(--secondary-rgb), 0.25);
		border-radius: 0.5em;
		color: rgb(var(--primary-rgb), 0.75);
		padding: 0.5em;

		&:hover {
			color: var(--primary);
		}
	}

	.search-menu .search-input {
		border-color: var(--tertiary-hover);
		outline: 1px solid var(--tertiary-hover);
	}

	.results {
		border-radius: 0.25em;
		top: 43px;
	}

	.search-context {
		right: 1em;
		top: 3.25em;
	}
}

.search-input {
	border-radius: 0.25em;
}

.display-search-banner {
	#main-outlet {
		padding-top: 2em;
	}
}

// Ideally the search banner component should be set to use the below-site-header outlet,
// but this ensures the default works too
.above-main-container-outlet.search-banner {
	.custom-search-banner-wrap {
		color: var(--tertiary);
		padding: 1em 0 2em;

		.mobile-view & {
			color: var(--secondary);
		}

		.custom-search-banner-headline,
		h1 {
			margin-bottom: 0;
		}

		.search-widget {
			margin-top: 2em;
		}
	}
}

// Main customizations
.alert {
	margin: 1em 0;
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
	padding: 15px 5px;
}

.navigation-topics .topic-list .topic-list-body .topic-list-data,
.navigation-topics .topic-list .topic-list-header .topic-list-data {
	flex: unset;
}

.badge-wrapper.box {
	border-radius: 0.25em;
	overflow: hidden;
}

.badge-wrapper.bullet {
	.badge-category-bg {
		border-radius: 0.125em;
	}

	.badge-category-parent-bg {
		border-bottom-left-radius: 0.125em;
		border-top-left-radius: 0.125em;

		+ .badge-category-bg {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0.125em;
			border-top-left-radius: 0;
			border-top-right-radius: 0.125em;
		}
	}
}

.discourse-tags {
	gap: 0.5em;
}

.discourse-tag {
	background-color: var(--primary-low);
	border-radius: 0.25em;
	color: var(--primary) !important;
	font-size: $font-down-1;
	padding: 0.15em 0.25em 0.15em 0.35em;

	&:hover {
		background-color: var(--primary-low-mid);
		color: var(--primary);
	}
}

.discourse-tags .discourse-tag.simple:not(:last-child)::after,
.list-tags .discourse-tag.simple:not(:last-child)::after,
.search-category .discourse-tag.simple:not(:last-child)::after {
	content: "";
	margin-left: unset;
}

.topic-list .link-bottom-line .discourse-tag.simple::after,
.topic-list .link-bottom-line .discourse-tag.box {
	margin-right: 0;
}

#site-text-logo {
	color: var(--primary);
}

.mobile-view {
	.cm-header-links {
		display: none;
	}

	.list-controls .nav-pills .drop li:first-of-type {
		display: none;
	}
}

.not-found-container {
	background-color: var(--secondary);
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
	border-radius: 4px;
}

.d-header {
	box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.06);
}

.d-header-icons .d-icon {
	border-radius: 100px;
}

.d-header-icons .icon {
	border: 1px solid transparent;
	border-radius: 0.25em;
	margin-left: 0.3em;

	svg {
		font-size: 1.25em;
	}
}

.d-header-icons .icon img.avatar {
	border-radius: 0.25em;
}

.menu-panel.drop-down {
	border: 1px solid var(--primary-low-mid);
	border-radius: 0.5em;
	margin-top: 1em;
}

.drop-down-mode .d-header-icons .active .icon {
	border: 1px solid transparent;

	.d-icon {
		color: var(--tertiary);
	}
}

.drop-down-mode .d-header-icons .active .icon:hover {
	border: 1px solid transparent;
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
	background-color: rgb(var(--tertiary-rgb), 0.5);
}

.btn:not(.themes-tab, .components-tab),
.select-kit.dropdown-select-box .dropdown-select-box-header {
	border: 1px solid transparent;
	border-radius: 8px;
}

.post-admin-menu.popup-menu {
	.btn.widget-button {
		border-radius: 0;
	}
}

.unread-high-priority-notifications {
	background: var(--quaternary);
}

.timeline-container .topic-timeline .timeline-handle {
	background-color: var(--tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
	border-left-color: var(--tertiary);
}

html {
	body:not(.no-ember) {
		background: linear-gradient(
				0deg,
				rgb(var(--primary-rgb), 0.075) 0%,
				rgb(var(--primary-rgb), 0.075) 100%
			),
			linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
		// background-image: url("../i/light-backdrop.webp");background-imagebackground-imagebackground-image
		//   background: var(
		//   --gf-primary-very-low-or-primary-low,
		//   $primary-very-low
		// );backgroundbackgroundbackground
	}

	.background-container {
		background: linear-gradient(
			90deg,
			var(--tertiary-hover) 0%,
			var(--tertiary) 100%
		);
		-webkit-clip-path: ellipse(148% 70% at 91% -14%);
		clip-path: ellipse(148% 70% at 91% -14%);
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;

		@if $no-background-image == "false" {
			background-blend-mode: hard-light;

			@if $tile-background == "true" {
				background-size: auto;
			} @else {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				// background-attachment: fixed;background-attachmentbackground-attachmentbackground-attachment
			}
		}
	}

	// $background-image: dark-light-choose(
	//   $light_background_image,
	//   $dark_background_image
	// );$background-image$background-image$background-image
	// $default-background-image: dark-light-choose(
	//   $default-light-background,
	//   $default-dark-background
	// );$default-background-image$default-background-image$default-background-image

	// @if $no-background-image == "false" {
	//   @if $background-image != "default" {
	//     .background-container {
	//       background-image: url($background-image),
	//         linear-gradient(
	//           90deg,
	//           var(--tertiary-hover) 0%,
	//           var(--tertiary) 100%
	//         );background-imagebackground-imagebackground-image
	//     }
	//   } @else {
	//     .background-container {
	//       background-image: url($default-background-image),
	//         linear-gradient(
	//           90deg,
	//           var(--tertiary-hover) 0%,
	//           var(--tertiary) 100%
	//         );background-imagebackground-imagebackground-image
	//     }
	//   }
	// }

	body.no-ember .background-container {
		display: none;
	}
}

html body #main-outlet {
	background: var(--secondary);
	border-radius: 1em;
	box-shadow: 0 24px 40px rgb(0, 0, 0, 0.07),
		0 10.8529px 24.1177px rgb(0, 0, 0, 0.0456112),
		0 4.50776px 10.0172px rgb(0, 0, 0, 0.035),
		0 1.63037px 3.62304px rgb(0, 0, 0, 0.0243888);
	margin-bottom: 50px;
	margin-top: 30px;
	max-width: 1150px;
	padding: 3em 3em 5%;
	padding-bottom: 5% !important; // overriding inline style

	@media screen and (width <= 700px) {
		margin-top: 0;
		padding: 1.5em;
	}

	@media screen and (width <= 1120px) {
		width: 80%;
	}

	@media screen and (width <= 1075px) {
		width: 85%;
	}

	.archetype-regular & {
		min-height: 500px;
	}
}

.nav-pills:not(.user-nav) > li a.active,
.nav-pills:not(.user-nav) > li > a {
	border-radius: 0.5em;
}

.category-calendar {
	&.before-topic-list-body-outlet {
		display: block;
	}

	background: var(--secondary);
	border-radius: 8px;
	margin-bottom: 1em;
	padding: 1em;
}

.discourse-post-event-upcoming-events {
	background: var(--secondary);
	border-radius: 8px;
	margin-bottom: 1em;
	padding: 1em;
}

// Topic List

@-webkit-keyframes background-fade-highlight {
	0% {
		background-color: var(--highlight-low);
	}

	100% {
		background-color: var(--secondary);
	}
}

@keyframes background-fade-highlight {
	0% {
		background-color: var(--highlight-low);
	}

	100% {
		background-color: var(--secondary);
	}
}

.full-width .contents .topic-list {
	border-collapse: separate;
	border-spacing: 0 0.25em;
	display: contents;

	.topic-list-header {
		tr {
			border-bottom: none;
			display: flex;
		}

		display: contents;

		.topic-list-data.default {
			width: 63%;
		}

		.topic-list-data.posters {
			width: 7%;
		}

		.topic-list-data.posts {
			width: 15%;
		}

		.topic-list-data.activity {
			width: 15%;
		}
	}

	.topic-list-body {
		display: contents;

		.topic-list-item-separator {
			display: flex;
			margin: 0.75em 0;
			width: 100%;

			.topic-list-data {
				width: 100%;
			}
		}

		.topic-list-item {
			background-color: var(--secondary);
			border: 1px solid rgb(var(--primary-rgb), 0.2);
			border-radius: 1em;
			box-shadow: 0 0 8px rgb(0, 0, 0, 0.05);
			display: flex;
			margin-bottom: 0.5em;
			overflow: hidden;
			position: relative;
			transition: box-shadow 100ms ease-in-out;

			&.visited {
				border: 1px solid rgb(var(--primary-rgb), 0.1);

				.discourse-tag {
					opacity: 0.75;
				}

				&:hover {
					border: 1px solid rgb(var(--primary-rgb), 0.25);

					.discourse-tag {
						opacity: 1;
					}
				}
			}

			&:hover {
				background-color: var(--secondary);
				border: 1px solid rgb(var(--primary-rgb), 0.3);
				box-shadow: 0 0 12px rgb(0, 0, 0, 0.1);

				a.title:not(.badge-notification),
				a.topic-excerpt {
					color: var(--primary) !important;
				}
			}

			.topic-list-data.main-link {
				order: 2;
				width: 63%;
			}

			.topic-list-data.posters {
				align-items: center;
				display: flex;
				height: auto;
				justify-content: center;
				order: 1;
				width: 7%;

				a:not(.latest) {
					display: none;
				}
			}

			.topic-list-data.posts {
				align-items: center;
				display: flex;
				justify-content: center;
				order: 3;
				width: 15%;
			}

			.topic-list-data.age {
				align-items: center;
				display: flex;
				justify-content: center;
				order: 4;
				width: 15%;
			}

			&.selected {
				td:nth-of-type(1) {
					box-shadow: none;
				}

				&:focus-visible td:nth-of-type(2) {
					border-radius: calc(1em - 3px);
					box-shadow: inset 3px 0 0 var(--tertiary);
				}
			}
		}

		.main-link {
			min-height: 100%;

			.link-top-line {
				display: block;
				margin-bottom: 0.25em;
			}

			.title {
				font-weight: bold;
			}

			.link-area {
				display: flex;

				.link-title-area {
					font-size: $font-up-1;
					margin-right: 1em;
				}

				.link-meta-area {
					align-items: center;
					display: flex;
					font-size: $font-down-3;
				}
			}
		}

		.posters {
			.avatar {
				border-radius: 8px;
				height: 40px;
				width: 40px;
			}

			a.latest {
				align-content: center;
				align-items: center;
				display: flex;
				height: 100%;
				justify-content: center;
				margin-right: 4px;
				width: 100%;

				.avatar {
					margin-right: 0;
				}
			}

			a:not(.latest) {
				margin-left: -22px;

				.avatar {
					border: 3px solid var(--secondary);
				}
			}
		}

		.posts-map,
		.num.age.activity {
			a {
				padding: 0;
			}
		}

		.posts-map {
			position: relative;

			.number {
				margin-right: 0.25em;
			}
		}

		.post-activity {
			.d-icon-reply {
				color: var(--primary-medium);
				margin-right: 0.25em;
			}

			.relative-date {
				color: var(--primary-medium);
			}
		}
	}
}

.topic-list-data.num.views {
	display: none;
}

// published page additions
.published-page-content-wrapper {
	background: var(--secondary);
	border-radius: 1em;
	box-shadow: 0 24px 40px rgb(0, 0, 0, 0.07),
		0 10.8529px 24.1177px rgb(0, 0, 0, 0.0456112),
		0 4.50776px 10.0172px rgb(0, 0, 0, 0.035),
		0 1.63037px 3.62304px rgb(0, 0, 0, 0.0243888);
	margin-bottom: 50px;
	margin-top: 30px;
	max-width: 1000px;
	padding: 3em 3em 5%;
	position: relative;
	z-index: 1;
}

.published-page {
	.background-container {
		display: none;
	}

	&::before {
		background: linear-gradient(
			90deg,
			var(--tertiary-hover) 0%,
			var(--tertiary) 100%
		);
		-webkit-clip-path: ellipse(148% 70% at 91% -14%);
		clip-path: ellipse(148% 70% at 91% -14%);
		content: "";
		display: block;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 0;
	}
}

.quote-button {
	border-radius: 0.5em;
}

.topic-list .main-link.focused + .posters {
	box-shadow: inset 3px 0 0 var(--tertiary);
}

.topic-list .main-link.focused {
	box-shadow: none;
}

.title-voting {
	padding-left: 14px;
}

/**
*
* CUSTOM GLOBAL STYLES
*
*/

// disable welcome banner title and avoid top padding
.welcome-banner__wrap {
	padding-top: 1em;
}

.welcome-banner__title {
	display: none;
}

// .sidebar-section-link-wrapper .sidebar-section-link.active {
// 	background: var(--tertiary-med-or-tertiary);backgroundbackgroundbackground
// 	color: var(---primary);colorcolorcolor
// }

// .sidebar-section-link-wrapper .sidebar-section-link.active .sidebar-section-link-prefix.icon {
// 	color: var(--primary);colorcolorcolor
// }

// .nav-stacked a.active {
// 	background-color: var(--tertiary-med-or-tertiary);background-colorbackground-colorbackground-color
// }

// .fk-d-menu-modal.list-control-toggle-link-content .dropdown-menu a.active {
// 	background: ar(--tertiary-med-or-tertiary) !important;backgroundbackgroundbackground
// }

// .user-menu.revamped .tabs-list .btn.active,
// .user-menu.revamped .tabs-list .d-modal.json-schema-editor-modal .je-ready .active.json-editor-btn-add,
// .d-modal.json-schema-editor-modal .je-ready .user-menu.revamped .tabs-list .active.json-editor-btn-add,
// .user-menu.revamped .tabs-list .d-modal.json-schema-editor-modal .je-ready button.active,
// .d-modal.json-schema-editor-modal .je-ready .user-menu.revamped .tabs-list button.active {
// 	background-color: var(--tertiary-low-or-tertiary-high) !important;background-colorbackground-colorbackground-color
// }

// .custom-search-banner-wrap {
//   color: var(--tertiary);colorcolorcolor
// }

// // adjusts margin main content body
// html body.navigation-categories #main-outlet {
//   margin-top: unset;margin-topmargin-topmargin-top
// }

// .custom-search-banner-wrap {
//   padding: 2.5em 0;paddingpaddingpadding
// }

// .custom-search-banner-wrap h1,
// .custom-search-banner-wrap p,
// .custom-category-boxes
//   .category-box
//   .category-box-inner
//   .category-logo.no-logo-present
//   .category-abbreviation {
//   display: none !important;displaydisplaydisplay
// }

// .category-calendar .calendar {
//   height: auto;heightheightheight
// }

// .calendar.fc-unthemed .fc-scroller {
//   height: auto !important;heightheightheight
//   overflow: hidden !important;overflowoverflowoverflow
// }

// //changing bubbles border radius
// .topic-post article {
//   --border-radius: 1.25em;--border-radius--border-radius--border-radius
// }

// // root categories box
// .custom-category-boxes:not(.above-discovery-categories-outlet)
//   .category-box
//   .category-box-inner
//   .category-logo {
//   display: inline-flex;displaydisplaydisplay
//   width: 100;widthwidthwidth
//   height: 100%;heightheightheight
// }

// .custom-category-boxes:not(.above-discovery-categories-outlet)
//   .category-box
//   .category-box-inner
//   .category-logo
//   .logo.aspect-image {
//   align-self: center;align-selfalign-selfalign-self
// }

// .custom-category-boxes .category-box .category-box-inner .category-details {
//   padding: 1em 0.5em;paddingpaddingpadding
// }

.category-logo:not(.no-logo-present) + .category-details {
	height: unset;
	padding: 1em 0.5em !important;
}

.custom-category-boxes:not(.above-discovery-categories-outlet)
	.category-box
	.category-box-inner
	.category-logo
	img {
	-o-object-fit: contain;
	object-fit: contain;
}

.custom-category-boxes:not(.above-discovery-categories-outlet)
	.category-box
	.category-box-inner
	.category-logo.no-logo-present {
	min-height: 80px;
}

// .category-logo:not(.no-logo-present) + .category-details {
//   word-break: break-word;word-breakword-breakword-break
// }

// .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box {
//   max-height: unset;max-heightmax-heightmax-height
// }

// // subcats thumb dimensions
// #header-list-area .custom-category-boxes .category-box-inner .category-logo {
//   height: 100%;heightheightheight
// }

// // cat. nav. alignment
// .navigation-container {
//   align-items: flex-start;align-itemsalign-itemsalign-items
// }

// // disable height limit for main cats.
// .custom-category-boxes:not(.above-discovery-categories-outlet) .description {
//   max-height: unset;max-heightmax-heightmax-height
// }

// // force max 2 lines of text for cat descriptions
// .custom-category-boxes .description {
//   overflow: hidden;overflowoverflowoverflow
//   text-overflow: ellipsis;text-overflowtext-overflowtext-overflow
//   display: -webkit-box;displaydisplaydisplay
//   -webkit-line-clamp: 2;-webkit-line-clamp-webkit-line-clamp-webkit-line-clamp
//   -webkit-box-orient: vertical;-webkit-box-orient-webkit-box-orient-webkit-box-orient
// }

// html body.search-page #main #main-outlet {
//   background-color: var(--secondary);background-colorbackground-colorbackground-color
// }

/**
 *
 * CUSTOM PMs STYLES
 *
 */

// //change bubbles colour
// .archetype-private_message
//   .current-user-post:not(.moderator)
//   .topic-body
//   .cooked {
//   background: var(--tertiary-medium);backgroundbackgroundbackground
// }
